body {
  background: var(--bg);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --one: #00aba9;
  --two: #c85454;
  --three: #ffc900;
  --bg: #100c08;
}
.main-section {
  background: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock-holder {
  max-width: 600px;
  width: 500px;
  background: #fff;
  margin: auto;
  position: relative;
}
.stopwatch {
  padding: 60px 0px;
  text-align: center;
}
.stopwatch span {
  background: var(--one);
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  padding: 20px;
  border-radius: 5px;
  width: 70px;
}
.stopwatch .stopwatch-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  transition: background 1s;
  cursor: pointer;
}
.stopwatch .stopwatch-btn-red {
  border: 2px solid var(--two);
  color: var(--two);
}
.stopwatch .stopwatch-btn-yel {
  border: 2px solidvar(--three);
  color: var(--three);
}
.stopwatch .stopwatch-btn-gre {
  border: 2px solid var(--one);
  color: var(--one);
}
.stopwatch .stopwatch-btn-red:hover {
  background: var(--two);
  border: 2px solid var(--two);
  color: #fff;
}
.stopwatch .stopwatch-btn-yel:hover {
  background: var(--three);
  border: 2px solidvar(--three);
  color: #fff;
}
.stopwatch .stopwatch-btn-gre:hover {
  background: var(--one);
  border: 2px solid var(--one);
  color: #fff;
}
